# 
_charts/
_clusters/
_kubeconfigs/
_nogit/
nogit/
_sc/
_templates/
_values/
values/
values-mprove.yaml

# env
*.env
.envrc

# IDE - VSCode
.vscode/*
!.vscode/settings.example.json

# System Files
.DS_Store
Thumbs.db

# Helm
*.tgz
Chart.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Logs
logs
*.log


